<main id="gameboard">
  <div class="arena">

    <div class="team">
      <div *ngFor="let fighter of game.team; index as rank" [style.display]="fighter.inArena ? 'block': 'none'">
        <div *ngIf="fighter.inArena" class="fighterCard inteam" [@animState]="fighter.animState">
          <div class="fighterName">
            <h1>{{fighter.name}}</h1>
          </div>
          <div class="middlePart">
            <img src={{fighter.imageUrl}} alt="">
            <div class="hpGauge" [style.height]="fighter.hpOnMaxHp" [style.backgroundColor]="fighter.hpGaugeColor"></div>
          </div>
          <div class="char fullscreenOnly">
            <p>
              <i class="icon-sword"></i>:{{fighter.attack}}
              <i class="icon-shield"></i>:{{fighter.defense}}
            </p>
            <p>
              <i class="icon-heart"></i> {{fighter.hp}}
            </p>
          </div>
          <div class="fighterstuff fullscreenOnly">
            <p>{{fighter.weapon.name}}</p>
            <p>{{fighter.armor.name}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="opponents">
      <div class="fighterCard inopponents" [@animState]="fighter.animState" *ngFor="let fighter of game.counterTeam; index as rank" (click)="clickOnOpponent(rank)">
        <div class="fighterName">
          <h1>{{fighter.name}}</h1>
        </div>
        <div class="middlePart">
          <img src={{fighter.imageUrl}} alt="">
          <div class="hpGauge" [style.height]="fighter.hpOnMaxHp" [style.backgroundColor]="fighter.hpGaugeColor"></div>
        </div>
        <div class="char fullscreenOnly">
          <p>
            <i class="icon-sword"></i>:{{fighter.attack}}
            <i class="icon-shield"></i>:{{fighter.defense}}
          </p>
          <p>
            <i class="icon-heart"></i> {{fighter.hp}}
          </p>
        </div>
        <div class="fighterstuff">
          <p>{{fighter.weapon.name}}</p>
          <p>{{fighter.armor.name}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="playerBoard">
    <div class="selectedFighter">
      <h1>Nom: {{game.team[activeFighterIndex].name}}</h1>
      <h2>{{game.team[activeFighterIndex].race}}</h2>

      <div class="middlePart">
        <img src={{game.team[activeFighterIndex].imageUrl}} alt="">
      </div>

      <div class="char">
        <p>Bonus d'attaque: {{game.team[activeFighterIndex].attack}}</p>
        <p> Bonus de défense: {{game.team[activeFighterIndex].defense}}</p>
        <p>Points de vie: {{game.team[activeFighterIndex].hp}}</p>
        <p>Points de vie maximum: {{game.team[activeFighterIndex].maxHp}}</p>
      </div>
      <div class="selectedFighterstuff">
        <p>Arme: {{game.team[activeFighterIndex].weapon.name}}</p>
        <p>Armure: {{game.team[activeFighterIndex].armor.name}}</p>
      </div>
    </div>

    <div class="stuff">
      <app-item *ngFor="let item of game.items; index as rank" [item]="item" [rank]="rank" (clickOnStuff)="clickOnStuff($event)"></app-item>
    </div>

    <div class="buttonsBoard">
      <button (click)="passTurn()">Défense</button>
      <button (click)="goBack()">Fuir</button>
    </div>

  </div>

  <div class="message">
    <p>{{message}}</p>
  </div>

  <div class="combatOver" *ngIf="combatOver" (click)="goBack()">
    <p>{{endMessage}}</p>
  </div>

  <audio id="shout" src="../assets/sounds/shout.mp3"></audio>
  <audio id="die" src="../assets/sounds/die.mp3"></audio>
  <audio id="missed" src="../assets/sounds/missed.mp3"></audio>
  <audio id="introArena" src="../assets/sounds/introArena.mp3"></audio>
  <audio id="music" src="../assets/sounds/music4.mp3"></audio>
  


</main>
