<div class="background">
  <div class="text">
    <h1>Gladiator Manager</h1>
    <br>
    <h2>Version Beta 1.0.0</h2>
    <br>
    <p>Bonjour</p>
    <br>
    <p>Gladiator Manager est jeu de gestion. Le but est de gérer un "Ludus", c'est à dire une école de gladiateurs, dont vous
      êtes le "Lanista" (propriétaire de l'école). Engagez des gladiateurs, équipez-les, entrainez-les et envoyez vos champions
      dans l'arène !</p>
    <br>
    <p>Gladiator Manager est un projet que j'ai développé prendant mes études. Mon but était de réaliser un petit jeu en un
      temps très court en réalisant toutes les parties (frontend et backend) moi-même. En formation de webdesigner, le développement
      complet d'une appli était pour moi un petit défi.</p>
    <br>
    <p>Je vous invite à venir consulter
      <a href="http://cyril-pointet.alwaysdata.net/">mon portfolio en ligne</a> pour en savoir un peu plus sur mon travail et à
      <a href="mailto:pointet.cyril@gmail.com">me contacter</a> pour en savoir plus.
    </p>
    <br>
    <p>Gladiator Manager est encore en cours de développement. Au programme de la prochaine version, vous aurez:</p>
    <p>- Des graphismes qui tuent !</p>
    <p>- Des musiques qui déchirent !</p>
    <p>- Plein de nouvelles créatures, armes, potion, sorts,...</p>
    <p>- Et surtout un nouveau système de gestion côté serveur qui permettra (entre autre) de consulter un tableau des meilleurs
      joueurs.</p>
      <br>
      <p>N'hésitez pas à revenir voir de temps en temps.</p>
      <br>
      <p>Cyril Pointet</p>
      <br>
    <button (click)="goback()">Continuer</button>
  </div>
</div>
