<main class="general-primary">
  <div class="welcome general-primary">
    <h1 class="bigText">Gladiator Manager</h1>
    <p class="medText">Lanista: {{game.name}}</p>
    <a class="medText" *ngIf="game.team.length > 0 && !game.isNoob" (click)="goArena()" >Entrer dans l'arêne</a>
    <a class="medText" *ngIf="!game.isNoob" (click)="goMarket()" >Place du Marché</a>
    <a class="medText" *ngIf="game.isNoob && game.team.length <1" (click)="goTutoMarket()" >Engagez votre premier gladiateur</a>
    <a class="medText" *ngIf="game.team.length > 0 && game.isNoob" (click)="goTutoStuff()" >Découvrez le Ludus</a>
    <a class="medText" *ngIf="game.team.length > 0 && !game.isNoob" (click)="goStuff()" >Aller au Ludus</a>
    <a class="smallButton" (click)="load()" >Déconnexion</a>
  </div>
  <audio id="music" src="../assets/sounds/music1.mp3"></audio>
  
</main>