<div >
    <h1>Nom: {{fighter.name}}</h1>
    <h2>Race:{{fighter.race}}</h2>
    
    <div class="middlePart">
      <img src={{fighter.imageUrl}} alt="">
    </div>
  
    <div class="char">
      <p>Bonus d'attaque: {{fighter.attack}}</p>
      <p> Bonus de défense: {{fighter.defense}}</p>
      <p>Points de vie: {{fighter.hp}}</p>
      <p>Points de vie maximum: {{fighter.maxHp}}</p>
    </div>
    <div>
      <p>Arme: {{fighter.weapon.name}}</p>
      <p>Armure: {{fighter.armor.name}}</p>
    </div>
    <div>
      <p>valeur= {{fighter.value}}</p>
    </div>
  </div>
  