@import '../../sass/style';
.ludus {
  font-family: 'mainFont', serif;
  background: url('../../assets/img/marble.jpg');
  width: 100vw;
  height: 100vh;
  @include gridCenter;
  grid-template-rows: 10vh 15vh 30vh 30vh 15vh;
  grid-template-columns: 50% 50%;
  grid-template-areas: "title title" "fighterSelection fighterSelection" "selectedFighter teamWeaponList" "selectedFighter teamArmorList" "buttons buttons"
}

button {
  @include shadowed;
  color: white;
  border-radius: 0.25rem;
  background: url('../../assets/img/marbleFlat.jpg');
}

.title,
.fighterSelection,
.selectedFighter,
.teamWeaponList,
.teamArmorList,
.buttons {
  @include shadowed;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 1rem;
}

img {
  width: 100px
}

.title {
  background: url('../../assets/img/leatherBackground.jpg');
  border: solid rgba(0, 0, 0, 0.25) 0.5rem;
  box-sizing: border-box;
  grid-area: title;
  width: 75%;
  height: 100%;
  @include flexInRow;
  justify-content: space-around;

  .msg {
    grid-area: msg;
    @include flexInColumn;

    h1 {
      @extend .capFont;
    }
    p {
      @extend .boldFont;
      font-size: 1rem;
    }
  }

  .money {
    grid-area: money;
    @include flexInColumn;
    @extend .boldFont;
    p {
      @extend .boldFont;
    }
  }
}

.fighterSelection {
  background: url('../../assets/img/leatherBackground.jpg');
  border: solid rgba(0, 0, 0, 0.25) 0.5rem;
  box-sizing: border-box;
  grid-area: fighterSelection;
  width: 75%;
  height: 100%;
  @include flexInRow;
  justify-content: space-around;
  overflow: auto;
  .teamFighters {
    @include shadowed;
    border-radius: 0.5rem;
    height: 95%;
    min-height: 10vh;
    background: url("../../assets/img/card.jpg") no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    border: solid rgba(255, 255, 255, 0.25) 0.25rem;
    padding: 0.25rem;
    @include gridCenter;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "teamFightersImg teamFightersName" "teamFightersImg teamFightersButton";
    .teamFightersName {
      grid-area: teamFightersName;
      @include gridCenter;
      width: 95%;
      height: 95%;
      @extend .capFont;
    }
    .teamFightersImg {
      grid-area: teamFightersImg;
      width: 5rem;
      max-width: 10vh;
      border-radius: 50%;
    }
    .teamFightersButton {
      grid-area: teamFightersButton;
      width: 95%;
      height: 95%;
    }
  }
}

.selectedFighter {
  background: url('../../assets/img/leatherBackground.jpg');
  border: solid rgba(0, 0, 0, 0.25) 0.5rem;
  box-sizing: border-box;
  grid-area: selectedFighter;
  width: 96%;
  height: 98%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "stats wornWeapon" "stats wornArmor";
  .stats {
    grid-area: stats;
    width: 100%;
    height: 100%;
    @include gridCenter;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "selectedFighterImg" "selectedFighterStats";
    .selectedFighterImg {
      grid-area: selectedFighterImg;
      box-sizing: border-box;
      @include flexInRow;
      justify-content: space-around;
      width: 100%;
      max-width: 25vh;
      height: 100%;
      padding: 1rem;
      img {
        width: 100%;
        border-radius: 2rem;
        border: solid rgba(255, 255, 255, 0.5) 0.5rem;
        box-sizing: border-box;
      }
    }
    .selectedFighterStats {
      background: url('../../assets/img/card.jpg');
      grid-area: selectedFighterStats;
      box-sizing: border-box;
      border-radius: 0.5rem;
      border: solid rgba(255, 255, 255, 0.5) 0.25rem;
      @extend .boldFont;
      @include flexInColumn;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      input {
        @extend .capFont;
        background: url("../../assets/img/card.jpg") no-repeat center;
        background-size: cover;
        @include shadowed;
        text-align: center;
      }
    }
  }
  .selectedFighterStuff {
    background: url("../../assets/img/card.jpg") no-repeat center;
    background-size: cover;
    @include shadowed;
    width: 100%;
    height: 96%;
    @include flexInRow;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: solid rgba(255, 255, 255, 0.5) 0.25rem;
    @extend .boldFont;
    img {
      width: 40%;
      border-radius: 1rem;
    }
    div {
      height: 100%;
      @include flexInColumn;
      justify-content: space-around;
      p:first-child {
        font-size: 1.5rem;
      }
    }
  }
  .wornWeapon {
    cursor: pointer;    
    grid-area: wornWeapon;
  }
  .wornArmor {
    cursor: pointer;    
    grid-area: wornArmor;
  }
}

.teamWeaponList {
  grid-area: teamWeaponList;
}

.teamArmorList {
  grid-area: teamArmorList;
}

.teamList {
  background: url('../../assets/img/leatherBackground.jpg');
  border: solid rgba(0, 0, 0, 0.25) 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
  div {
    cursor: pointer;
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid rgba(255, 255, 255, 0.5) 0.25rem;
    box-sizing: border-box;
    background: url("../../assets/img/card.jpg") no-repeat center;
    background-size: cover;
    margin: 1rem;
    padding: 1rem;
    img {
      width: 4rem;
      border-radius: 0.5rem;
      margin: 0.5rem;
    }
  }
}

.buttons {
  background: url('../../assets/img/leatherBackground.jpg');
  border: solid rgba(0, 0, 0, 0.25) 0.5rem;
  box-sizing: border-box;
  grid-area: buttons;
  width: 75%;
  height: 100%;
  @include flexInRow;
  justify-content: space-around;
  button {
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
}
