<div class="ludus">

  <div class="title">
    <div class="msg">
      <h1 class="bigText">
        Ludus
      </h1>
      <p>Ecole de gladiateurs</p>
    </div>
    
    <div class="money">
      <h3>Argent:</h3>
      <p class="bigText">{{game.money}} pièces d'or</p>
    </div>

  </div>

  <div class="fighterSelection">
    <div class="teamFighters" (click)="selectMe(rank)" [@animState]="fighter.animState" *ngFor="let fighter of game.team; index as rank">
      <p class="medText teamFightersName">{{fighter.name}}</p>
      <img class="teamFightersImg" src={{fighter.imageUrl}} alt="fighter.name">
    </div>
  </div>

  <div class="selectedFighter">
    <div class="stats">
      <div class="selectedFighterImg">
        <img src={{game.team[selectedFighter].imageUrl}} [@selectedFighterAnim]="selectedFighterAnim" alt="game.team[selectedFighter].name">
      </div>

      <div class="selectedFighterStats" [@selectedFighterAnim]="selectedFighterAnim">
        <input class="medText" type="text" [(ngModel)]="game.team[selectedFighter].name" placeholder="{{game.team[selectedFighter].name}}">
        <p>Race: {{game.team[selectedFighter].race}}</p>
        <p>Attaque: {{game.team[selectedFighter].attack}}</p>
        <p>Défense: {{game.team[selectedFighter].defense}}</p>
        <p>Vie: {{game.team[selectedFighter].hp}}</p>
        <p>Vie max: {{game.team[selectedFighter].maxHp}}</p>
        <p>Victoires: {{game.team[selectedFighter].victory}}</p>
      </div>

    </div>
    <div (click)="dropWeapon()" class="wornWeapon selectedFighterStuff" [@selectedFighterAnim]="selectedFighterAnim">
      <img class="fullscreenOnly" src={{game.team[selectedFighter].weapon.imageUrl}} alt="game.team[selectedFighter].weapon.name">
      <div>
        <p class="medText">{{game.team[selectedFighter].weapon.name}}</p>
        <p>Dégats: {{game.team[selectedFighter].weapon.minDamage}}-{{game.team[selectedFighter].weapon.maxDamage}}</p>
      </div>
    </div>
    <div (click)="dropArmor()" class="wornArmor selectedFighterStuff" [@selectedFighterAnim]="selectedFighterAnim">
      <img class="fullscreenOnly" src={{game.team[selectedFighter].armor.imageUrl}} alt="game.team[selectedFighter].armor.name">
      <div>
        <p class="medText">{{game.team[selectedFighter].armor.name}}</p>
        <p>Protection: {{game.team[selectedFighter].armor.acBonus}}</p>
      </div>
    </div>
  </div>

  <div class="teamWeaponList teamList">
    <div (click)="takeWeapon(rank)" class="teamWeapon" [@toLeft]="'in'" *ngFor="let weapon of game.weapons; index as rank">
      <p>{{weapon.name}}</p>
      <img src={{weapon.imageUrl}} alt="weapon.name">
    </div>
  </div>

  <div class="teamArmorList teamList">
    <div (click)="takeArmor(rank)" class="teamArmor" [@toLeft]="'in'" *ngFor="let armor of game.armors; index as rank">
      <p>{{armor.name}}</p>
      <img src={{armor.imageUrl}} alt="armor.name">
    </div>
  </div>

  <div class="buttons">
    <div class="selectedFighterButton">
      <button (click)="healMe()"><i class="icon-heart"></i>Soigner 10gp</button>
      <button (click)="attackTrainig()"><i class="icon-sword"></i>Cour d'escrime</button>
      <button (click)="defenseTrainig()"><i class="icon-shield"></i>Cour d'esquive</button>
    </div>
    <div class="navButtons">
      <button (click)="goHome()">Accueil</button>
    </div>
  </div>

  <audio id="armor" src="../assets/sounds/armor.mp3"></audio>
  <audio id="buy" src="../assets/sounds/buy.mp3"></audio>

</div>
